:root {
  --dark_color: #000;
  --dark_main_color: #ff7300;
  --light_main_color: #ffe3cd;
  --light-color: #fff;
}
main {
  margin: 0;
}
/* Hero Section Starts */
.hero-container {
  position: relative;
  height: max-content;
}
.hero-image-container {
  width: 100vw;
  background-position: center;
  background-size: cover;
  height: max-content;
  z-index: -1;
}
.hero-image-container img {
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
}
.hero-text-container {
  position: absolute;
  width: 70%;
  top: 70% !important;
  right: 10px;
  text-align: right;
}
.hero-text-container h1 {
  color: var(--light-color);
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.hero-text-container h2 {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 500;
}
/* Hero Section Ends */

/* Pricing Container Starts */
.sub-hero--section {
  background-color: var(--light-color);
}
.image-container {
  margin-bottom: -5px;
}
.light-container {
  padding: 5%;
}
.light-container h1 {
  font-size: 20px;
  color: var(--dark_main_color);
}
.dark-container {
  background-color: var(--light_main_color);
  padding: 5%;
  margin: 0;
}
.dark-container h3 {
  font-size: 15px;
  font-weight: bold;
}
.sub-hero-container {
  width: 100vw;
  height: fit-content;
}
.sub-hero-container img {
  width: 100vw;
}
/* Pricing Container Ends */

/* Course Section Starts */
.course--section {
  width: 100%;
  margin: 0;
  background-color: var(--light-color);
  padding: 30px 20px;
  position: relative;
}
.section-heading-kurse {
  font-size: 2.5rem;
  position: absolute;
  right: 10px;
  top: -45px;
  color: var(--dark_main_color);
  margin: 20px;
}
.course-container {
  width: 100%;
  height: max-content;
  background-color: var(--dark_main_color);
  margin: 20px 0px;
}
.course-container .image-container {
  width: 100%;
}
.course-container .image-container img {
  width: 100%;
  /* border-radius: 10px; */
}
.course-container .text-container {
  padding: 10px;
}
.course-container h1 {
  color: var(--light-color);
  font-size: 25px;
}
.course-container h2 {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 400;
}
.course-container h3 {
  color: var(--light-color);
  font-weight: bold;
  font-size: 18px;
}
/* Course Section Ends */

/* Events Section Starts */
.events--section {
  width: 100%;
  height: max-content;
  position: relative;
}
.section-heading-termine {
  position: absolute;
  font-size: 2.5rem;
  right: 10px;
  top: -45px;
  color: var(--dark_main_color);
  margin: 20px;
}
.events-container {
  border: 5px solid var(--light_main_color);
  width: auto;
  height: max-content;
  background-color: var(--light_main_color);
  padding: 30px 20px;
}
.events-container h1 {
  color: var(--dark_main_color);
}
.events-container h2 {
  font-weight: 400;
  font-size: 15px;
}
/* Events Section Ends */
/* Info Section Starts */
.info--section {
  background-color: var(--light-color);
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 5%;
}
.info-image img {
  width: 70vw;
  margin: 0 10%;
}
.info-text {
  text-align: right;
  border: 2px solid var(--dark_color);
  padding: 2%;
}
.info-text h1 {
  color: var(--dark_main_color);
  font-size: 18px;
}
.info-text h2 {
  font-size: 15px;
}
/* Info Section Ends */

/* Jobs Section Starts */
.jobs-container {
  margin: 0;
}
.jobs--section {
  width: 100vw;
  height: max-content;
}
.jobs-image-container {
  width: 100vw;
  height: 100%;
}
.jobs-image-container img {
  width: 100%;
  background-color: var(--light-color);
}
.jobs-text-container {
  color: var(--light-color);
  margin: 10px;
  padding: 10px;
}
.jobs-text-container h1 {
  font-size: 25px;
}
.jobs-text-container p {
  font-size: 18px;
  font-weight: bold;
}
.job-item h3 {
  font-size: 15px;
}

.job-paragraph {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.job-paragraph p {
  margin: 5px;
  font-size: 15px;
}
/* Jobs Section Ends */
/* Contact Section Starts */
.address--section {
  background-image: url(../images/map.png);
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.address-container {
  display: flex;
}
.address-text-container {
  width: 70%;
  padding: 3%;
  margin: 20% auto;
  background-color: var(--light-color);
}
.address-text-container h1 {
  color: var(--dark_main_color);
}
.social-media--container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.link-items {
  font-size: 18px;
}
.link-items a {
  /* text-decoration: none; */
  font-weight: bold;
  margin: 10px;
  color: var(--light-color);
}
.link-items a:active {
  text-decoration: none;
  color: var(--light-color);
}
/* Contact Section Ends */

/* for screen medium screen size */
@media (min-width: 425px) and (max-width: 760px) {
  .hero-text-container {
    top: 70%;
  }
  .hero-text-container h1 {
    font-size: 35px;
  }
  .hero-text-container h2 {
    font-size: 25px;
    margin: 10px;
  }
  .course-box {
    margin: 40px 20px;
  }
  .jobs-text-container {
    padding: 2% 5%;
  }
  .address-text-container {
    margin: 10% auto;
  }
  .link-items a {
    color: var(--light-color);
  }
}
/* for tablets and small desktop screens */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-text-container {
    top: 75% !important;
  }
  .hero-text-container h1 {
    font-size: 3rem;
  }
  .hero-text-container h2 {
    font-size: 2rem;
    margin: 10px;
  }
  .sub-hero-container img {
    height: 500px;
    width: 150%;
    object-fit: cover;
    object-position: -320px -150px;
  }
  .light-container h1 {
    font-size: 2rem;
  }
  .dark-container h3 {
    font-size: 1.5rem;
  }
  .section-heading-kurse {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .course-box {
    margin: 50px 30px;
  }
  .course-container .text-container {
    padding: 5%;
  }
  .text-container h1 {
    font-size: 2.5rem;
  }
  .text-container h2 {
    font-size: 1.8rem;
  }
  .text-container h3 {
    font-size: 1.8rem;
  }
  .section-heading-termine {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .events-container {
    padding: 5%;
  }
  .events-container h1 {
    font-size: 2rem;
  }
  .events-container h2 {
    font-size: 1.5rem;
  }
  .info-text h1 {
    font-size: 2rem;
  }
  .info-text h2 {
    font-size: 1.5rem;
  }
  .info-text p {
    font-size: 1.2rem;
  }
  .jobs-text-container {
    padding: 2% 5%;
  }
  .jobs-text-container h1 {
    font-size: 2rem;
  }
  .jobs-text-container p {
    font-size: 1.5rem;
  }
  .job-item h3 {
    font-size: 1.5rem;
  }
  .job-item li {
    font-size: 1.2rem;
  }
  .job-paragraph {
    padding: 2% 0;
  }
  .job-paragraph p {
    margin: 10px;
  }
  .address-text-container {
    margin: 10% auto;
  }
  .address-text-container h1 {
    font-size: 2rem;
  }
  .address-text-container h3 {
    font-size: 1.5rem;
  }
  .link-items {
    margin-left: 30px;
    font-size: 1.2rem;
  }
  .link-items a {
    color: var(--light-color);
  }
}

/* for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .hero-image-container {
    width: 100%;
  }
  .hero-image-container img {
    width: 100vw;
    height: 700px;
    object-fit: cover;
    object-position: 0 -90px;
  }
  .hero-text-container {
    top: 66%;
    right: 0px;
    text-align: right;
    margin: 0 3%;
  }
  .hero-text-container h1 {
    font-size: 50px;
  }
  .hero-text-container h2 {
    font-size: 30px;
    margin: 0;
  }
  .sub-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .sub-hero-container img {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 60px;
    top: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: -160px 0;
  }
  .box {
    width: 70%;
    height: 92%;
    border: 2px solid var(--dark_color);
    position: absolute;
    top: 5%;
    left: 2%;
  }
  .light-container {
    padding: 2% 5%;
  }
  .dark-container {
    padding: 2% 5%;
  }
  .light-container h1 {
    width: 50%;
    font-size: 2.5rem;
  }
  .dark-container h3 {
    width: 50%;
    font-size: 2rem;
  }
  .section-heading-kurse {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .section-heading-termine {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .course--section {
    padding: 5% 0;
  }
  .course-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
  }
  .course-container {
    padding-bottom: 5%;
    width: 45%;
  }
  .text-container h1 {
    font-size: 2rem;
  }
  .text-container h2 {
    font-size: 1.8rem;
  }
  .text-container h3 {
    font-size: 1.8rem;
  }
  .events-container h1 {
    font-size: 2.2rem;
    padding: 20px 50px;
  }
  .events-container h2 {
    font-size: 2rem;
    padding: 20px 50px;
  }
  .info--section {
    width: 100vw;
    height: max-content;
  }
  .info-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .info-image {
    width: 45%;
  }
  .info-image img {
    width: 45vw;
    margin: 0;
    position: relative;
    z-index: +1;
  }
  .info-text {
    width: 55%;
  }
  .info-text h1 {
    font-size: 2.5rem;
  }
  .info-text h2 {
    font-size: 2rem;
  }
  .info-text p {
    font-size: 1.5rem;
  }
  .jobs--section {
    padding-bottom: 2%;
  }
  .jobs-text-container {
    padding: 1% 3%;
  }
  .jobs-text-container h1 {
    font-size: 3rem;
  }
  .jobs-text-container p {
    font-size: 2rem;
  }
  .job-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
  .job-item {
    width: 45%;
  }
  .job-item h3 {
    font-size: 2rem;
  }
  .job-item li {
    font-size: 1.5rem;
  }
  .job-paragraph {
    padding-top: 10px;
    justify-content: space-around;
  }
  .job-paragraph p {
    width: 45%;
    font-size: 1.5rem;
  }
  .address-text-container {
    margin: 10% auto;
  }
  .address-text-container h1 {
    font-size: 2.5rem;
  }
  .address-text-container h3 {
    font-size: 1.8rem;
  }
  .link-items a {
    font-size: 1.5rem;
    color: var(--light-color);
  }
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .hero-image-container {
    width: 100%;
    height: fit-content;
  }
  .hero-image-container img {
    width: 100vw;
    height: 800px;
    object-fit: cover;
    object-position: -10px -110px;
  }
  .hero-text-container {
    top: 70%;
    right: 0px;
    text-align: right;
    margin: 0 3%;
  }
  .hero-text-container h1 {
    font-size: 4rem;
  }
  .hero-text-container h2 {
    font-size: 2.2rem;
    margin: 0;
    padding: 2% 0;
  }
  .sub-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .sub-hero-container img {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 250px;
    top: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: -160px -0px;
  }
  .box {
    width: 60%;
    height: 92%;
    border: 2px solid var(--dark_color);
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .light-container {
    padding: 1% 15%;
  }
  .dark-container {
    padding: 1% 15%;
  }
  .light-container h1 {
    width: 50%;
    font-size: 2rem;
  }
  .dark-container h3 {
    width: 50%;
    font-size: 1.5rem;
  }
  .section-heading-kurse {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .section-heading-termine {
    font-size: 4rem;
    top: -60px;
    right: 20px;
  }
  .course--section {
    padding: 3% 0;
  }
  .course-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
  }
  .course-container {
    width: 30%;
    height: 140vh;
  }
  .course-container img {
    height: 300px;
  }
  .text-container h1 {
    font-size: 1.5rem;
  }
  .text-container h2 {
    font-size: 1.2rem;
  }
  .text-container h3 {
    font-size: 1.2rem;
  }
  .events-container h1 {
    font-size: 2rem;
    padding: 2% 5%;
    margin: 0;
  }
  .events-container h2 {
    font-size: 1.2rem;
    padding: 20px 80px;
  }
  .info--section {
    width: 100vw;
    height: max-content;
  }
  .info-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 5%;
  }
  .info-image {
    width: 45%;
  }
  .info-image img {
    width: 45vw;
    height: 350px;
    margin: 0;
    position: relative;
    z-index: +1;
  }
  .info-text {
    width: 55%;
    padding: 6%;
  }
  .info-text h1 {
    font-size: 2.2rem;
  }
  .info-text h2 {
    font-size: 1.2rem;
  }
  .info-text p {
    font-size: 1rem;
  }
  .jobs-text-container {
    padding: 2% 5%;
  }
  .jobs-text-container h1 {
    font-size: 2rem;
    margin: 0;
  }
  .jobs-text-container p {
    font-size: 1.2rem;
  }
  .job-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
  .job-item {
    width: 45%;
  }
  .job-item h3 {
    font-size: 1.5rem;
  }
  .job-item li {
    font-size: 1.2rem;
  }
  .job-paragraph {
    margin: 2% 0;
    justify-content: space-between;
  }
  .job-paragraph p {
    width: 45%;
    font-size: 1.2rem;
  }
  .address--section {
    height: 70vh;
  }
  .address-container {
    width: 50vw;
    position: relative;
    text-align: center;
  }
  .address-text-container {
    /* margin: 20% auto; */
    position: absolute;
    left: 60%;
  }
  .address-text-container h1 {
    font-size: 2.2rem;
  }
  .address-text-container h3 {
    font-size: 1.2rem;
  }
  .social-media--container {
    justify-content: space-between;
    margin: 5%;
  }
  .link-items a {
    font-size: 1.2rem;
    color: var(--light-color);
  }
}
